# Enable Flask's debugging features. Should be False in production
DEBUG = False
# URL to Kodi web interface
KODIURL = 'http://localhost:8080'
# SECRET 
SECRET = 'anysecrectstring'
# Port of server
PORT = 8081
# URL to TV program
TVGURL = 'http://www.teleguide.info/download/new3/xmltv.xml.gz'